@import url('https://fonts.googleapis.com/css2?family=Rajdhani:wght@400;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Marck+Script&display=swap');

/* ------------------------------------ RESET CSS */
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

body {
  font-family: 'Rajdhani', sans-serif !important;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: #130b1a;
  font-weight: 400;
  height: 100%;
}

a {
  text-decoration: none;
  color: inherit;
  background-color: transparent;
}

ul,
ol {
  list-style: none;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: 100%;
  font-weight: normal;
  color: #fafafa;
}

img,
video {
  display: block;
  max-width: 100%;
}

.Container {
  width: 100%;
  padding: 0 1rem;
  margin: 0 auto;
}

.typeWriter_text {
  font-size: 1.6rem;
  margin-bottom: 1rem;
  font-weight: 600;
  color: #ededed;
}

/* ------------------------------------ Scrollbar */
body::-webkit-scrollbar {
  width: 8px;
}

body::-webkit-scrollbar-track {
  background: #1c0b2b;
}

body::-webkit-scrollbar-thumb {
  background-color: #301c41;
  border-radius: 10px;
  border: 2px solid #5c65c0;
}

/* ------------------------------------ Media for Container */
@media (min-width: 576px) {
  .Container {
    max-width: 540px;
  }
}

@media (min-width: 768px) {
  .Container {
    max-width: 720px;
  }

  .ProjectWrapper {
    margin-top: -3rem;
  }
}

@media (min-width: 992px) {
  .Container {
    max-width: 960px;
  }
}

@media (min-width: 1200px) {
  .Container {
    max-width: 1000px;
  }
}

// OVERRIDE PRIME REACT
.p-galleria .p-galleria-indicators .p-galleria-indicator.p-highlight {
}

.p-card {
  background-color: #110919;

  p {
    max-width: 600px;
  }
}

.p-galleria-indicator.p-highlight button {
  background: #8a85ff !important;
}

.p-galleria .p-galleria-indicators {
  display: flex;
  gap: 4px;
  margin-top: 4px;
}

.p-galleria-item-next, .p-galleria-item-prev {
  background-color: rgba(0, 0, 0, 0.226);
}